* {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
}

body {
    background-color: rgb(54, 54, 54);
}

.material-symbols-outlined {
    color: white;
    font-size: 5rem;
    padding-bottom: 10px;
}

.cv_main {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-top: 56px;
    justify-content: center;
    background-image: url(/assets/images/foto_cv.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.cv_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv_text h1 {
    font-size: 4rem;
    font-weight: 900;
}

.cv_text h2 {
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

.cv_text p {
    font-weight: 100;
}

.descripcion {
    width: 28rem;
}

.titulo_seccion {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 50px;
}

.educacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px;
    color: white;
}

footer ul {
    list-style: none;
    text-align: center;
    padding: 0;
}